
.ipynb_checkpoints/0 Administrivia-checkpoint.ipynb
.ipynb_checkpoints/0 Introducción-checkpoint.ipynb
.ipynb_checkpoints/1 Tipos y expresiones-checkpoint.ipynb
.ipynb_checkpoints/2 Ejecución condicional-checkpoint.ipynb
